//color
$color_icon: #303030;


.col-1-4{
  float: left;
  padding: 0;
  width: 25%;
  padding-right: 20px ;
  padding-bottom: 20px;
}
.icon-a{
  padding: 20px;
  text-align: center;
  background: $color_icon;
  color: white;
  width: 200px;
  height: 200px;
}
a{
  color: white;
}
a:hover{
  color: white;
}